@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*------------------------------------
 common syles or utilites start here
 -------------------------------------*/
.button {
    background: #E02C6D;
    padding: 10px 24px;
    border: 0px;
}

.button a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}
/*-----------------------------------
 common syles or utilites end here
 ------------------------------------*/


/* -----------------------------------
header styles start here
--------------------------------------*/
header {
    background-color: #2D25A0;
    padding-right: 120px;
    padding-left: 156px;
    padding-top: 42px;
    margin-bottom: 70px;
}

nav {
    margin: 0px 0 64px 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav-link-list {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 36px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-bottom: 50px;
}

.top-banner .banner-title{
    margin-bottom: 27px;
}

.top-banner .banner-title h1{
    font-size: 64px;
    color: #FFFFFF;
}

.banner-image img {
    width: 556.01px;
    height: 438px;
}
/*-------------------------
 header styles end here
 -------------------------*/


/*------------------------------------
 player-section styles start here
 -------------------------------------*/
 .players-section {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

 .players {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;
 }

 .player {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }

 .player img {
    width: 300px;
    height: 256px;
    padding: 15px;
 }

 .player h2 {
     font-size: 28px;
     margin: 16px;
     
 }

 .player p {
    font-size: 16px;
    color: #6C6C6C;
    margin: 1px 15px 15px 15px;
 }

 /*----------------------------------
 .players-section styles end here 
 ------------------------------------*/

